@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>You sure about that?</h2>

@Html.DisplayNameFor(model => model.LastName): @Html.DisplayFor(model => model.LastName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")